body{
    background-image: linear-gradient(rgba(8, 69, 150, 0.2), rgba(8, 69, 150, 0.2)),
    url(gbr/bgtentang.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    
}
body.fade-in {
  opacity: 1;
}
.about{
    position: relative;
    height: 270px;
    left: -25%;
    top: 11%;

}
.tujuan{
    position: relative;
    height: 270px;
    left: 25%;
    top: 11%;
}
.penger{
    position: fixed;
    height: 270px;
    left: 34%;
    top: 55%;
}

.kues{
    position: fixed;
    height: 270px;
    left: 58%;
    top: 55%;
}

.back {
    height: 90px;
    width: auto;
    transition: transform 0.25s ease;
    position: fixed;
    top: 0%;
    left: 1%;
}

.about:hover, .kues:hover, .penger:hover, .tujuan:hover .back:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.about:hover, .kues:hover, .penger:hover, .tujuan:hover, .back:hover{
    transition: transform 0.25s ease;
}

.about:hover, .kues:hover, .penger:hover, .tujuan:hover{
    transform: scale(0.95);
}
.back:hover {
    transform: scale(1.1);
}
.about:not(:hover),.kues:not(:hover), .penger:not(:hover), .tujuan:not(:hover) {
  animation: smol 0.4s ease-out;
}
@keyframes smol {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
