body {  
      background-image: url("gbr/bgkues.png");
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0;
      padding: 0;
      font-family: Arial;  
      align-items: center;
    }

    .isi {
      width: 100%;
      max-width: 1500px;
      margin: auto;
      font-size: 30px;
      color: white;
      align-items: center;
      text-align: left;
      text-decoration: none;
      padding-left: 30px;
    }
    .jdl{
        font-family: "Press Start 2P", cursive;
        font-size: 20px;
    }
    h1 {
      text-align: center;
      font-size: 40px;
      margin-bottom: 20px; color: #989898;font-family: "Press Start 2P", cursive;
    }

    .bagian {
      font-size: 50px;
      margin-top: 30px;
      color:#d8bbff;
    }

    .pertanyaan {
      margin-top: 10px;
      font-size: 40px;

    }

    .jwb {
      margin-left: 20px;
      margin-top: 5px;
      font-size: 30px;
    }

    .jwb label {
      display: block;
      cursor: pointer;
    }

    .back:hover{
    transform: scale(1.1);
    cursor: pointer;
    }
    
    .back {
    height: 90px;
    width: auto;
    transition: transform 0.25s ease;
    position: fixed;
    top: 0%;
    left: 1%;
}
